<form [formGroup]="formGroup">
  <div class="flex justify-content-center mt-5">
    <div class="card" style="width: 50%">
      <div class="field">
        <label>Nome</label>
        <input
          type="text"
          formControlName="nome"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        />
      </div>
      <div class="field">
        <label>Sobrenome</label>
        <input
          type="text"
          formControlName="sobrenome"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        />
      </div>
      <div class="field">
        <label>Idade</label>
        <input
          formControlName="idade"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        />
      </div>
      <div class="field">
        <label>Gênero</label>
        <input
          formControlName="genero"
          type="text"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        />
      </div>
      <div class="field">
        <label>Telefone</label>
        <input
          formControlName="telefone"
          type="text"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        />
      </div>
      <div class="field">
        <label>Endereço</label>
        <input
          formControlName="endereco"
          type="text"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        />
      </div>
      <div class="field">
        <label>Salário</label>
        <input
          formControlName="salario"
          type="text"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        />
      </div>
    </div>
  </div>
</form>
<div class="p-col-12 flex justify-content-center">
  <p-button label="Voltar" class="pr-1" routerLink="../" (onClick)="voltar()"></p-button>
  <button
    type="submit"
    pButton
    label="Cadastrar"
    (click)="cadastrarEmpregado()"
    [disabled]="!formGroup.valid"
  ></button>
</div>

<p-toast position="top-right" key="toast"></p-toast>
